# Practical

## Problem 1

## Importing pandas

**1.** Import pandas under the name `pd`.

Import արեք pandas մոդուլը `pd` անունով։

In [1]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

 Տպեք pandas մոդուլի տարբերակը։

In [7]:
pd.__version__

'0.23.4'

## DataFrame basics



Consider the following Python dictionary `data` and Python list `labels`:

In [32]:
import numpy as np



data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**3.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

Ստեղծեք `df` DataFrame `data` dictionary-ից, որի index-ը կլինի `labels` list-ը։

In [33]:
import numpy as np
df = pd.DataFrame(data, index=labels)
 #orient="index", columns=labels,
print(df)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**4.** Return the first 3 rows of the DataFrame `df`.

Տպեք `df` DataFrame-ի առաջին 3 տողերը։

In [34]:
print (df[:3])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**5.** Select just the `animal` and `age` columns from the DataFrame `df`.

`df` DataFrame-ից ընտրեք միայն `animal` և `age` սյուները։

In [35]:
print(df.loc[:,['animal','age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**6.** Select the data in rows `[3, 4, 8]` and in columns `['animal', 'age']`.

`df`-ից վերցրեք `[3, 4, 8]` տողերում ու `['animal', 'age']` սյուներում գտնվեղ տվյալները։

In [39]:
print(df.loc[['c','d','h'],['animal','age']])

  animal  age
c  snake  0.5
d    dog  NaN
h    cat  NaN

**7.** Select only the rows where the number of visits is greater than 3.

Ընտրեք `df` DataFrame-ի այն տողերը, որոնց տվյալների համար visits սյան արժեքը 3-ից մեծ է։

In [52]:

df1 = df[df['visits']>=3]
df1

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

**8.** Select the rows where the age is missing, i.e. is `NaN`.

Ընտրեք այն տողերը, որոնց տվյալների համար age սյունի արժեքը բացակայում է՝ այսինքն `NaN` է։

In [56]:
df2=df[df['age'].isnull()==True]
df2

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**9.** Select the rows where the animal is a cat and the age is less than 3.

Ընտրեք այն տողերը, որոնց տվյալների համար animal սյունի արժեքը cat է և age սյունի արժեքը փոքր է 3-ից։

In [60]:
df3=df[(df['animal']=="cat") & (df['age']<3)]
print(df3)

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**10.** Change the age in row 'f' to 1.5.

Փոխարինեք 'f' տողի age սյունի արժեքը 1.5-ով։

In [70]:
#df['age']['f']=1.5
print(df)

df.loc[['f'],['age']]=1.5

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**11.** Add a new column 'n' with all 1s.

Ավելացրեք միայն 1-եր պարունակող 'n' սյունը։

In [77]:
len(df)
df["n"]=np.ones(10)
df

  animal  age  visits priority    n
a    cat  2.5       1      yes  1.0
b    cat  3.0       3      yes  1.0
c  snake  0.5       2       no  1.0
d    dog  NaN       3      yes  1.0
e    dog  5.0       2       no  1.0
f    cat  1.5       3       no  1.0
g  snake  4.5       1       no  1.0
h    cat  NaN       1      yes  1.0
i    dog  7.0       2       no  1.0
j    dog  3.0       1       no  1.0

**12.** Count the number of each type of animal in `df`.

Հաշվեք `df`-ում տեղ գտած կենդանիների տիպերի քանակը։

In [79]:
x = df['animal'].value_counts()
print(type(x))
print(x)

<class 'pandas.core.series.Series'>
cat      4
dog      4
snake    2
Name: animal, dtype: int64

## Problem 2

### Import the library pandas as pd

#### Import արեք pandas գրադարանը pd  անունով

In [80]:
import pandas as pd

### Use the dataset gender.txt, assign to a variable gender and use user_id as index

### Օգտագործեք gender.txt dataset-ը, վերագրեք այն gender փոփոխականին ու օգտագործեք  user_id սյունը որպես index

In [89]:
s = pd.read_csv('../Practical/data/gender.txt',sep='|')
s

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Print the first 20 entries

### Տպեք առաջին 20 արժեքները

In [95]:
print(s.head(21))

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068

### Print the last 10 entries

### Տպեք վերջին 10 արժեքները

In [93]:
print(s.tail(10))

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

### What is the number of rows in the dataset?

### Քանի տող կա dataset-ում?

### What is the number of columns in the dataset?

### Քանի սյուն կա dataset-ում?

### Print the name of all the columns

### Տպեք սյուների անունները

### How is the dataset indexed?

### Ինչպես է ինդեքսավորված dataset-ը?

### What is the data type of each column?

### Ինչ տիպի է ամեն սյունը՞

### Print only the occupation column

### Տպեք միայն occupation սյունը

### How many different occupations there are in this dataset?

### Քանի տարբեր occupation կա dataset-ում?

### What is the most popular occupation?

### Որն է ամենահաճախ հանդիպող occupation-ը?

## Problem 3

### Import the libraries

### Import արեք pandas գրադարանը pd անունով

### Import the dataset drinks.csv, assign it to a variable called drinks

### Import արեք drinks.csv dataset-ը, վերագրեք այն drinks փոփոխականին

### Which continent drinks more beer on average?

### Որ continent-ն է միջինում ավելի շատ գարեջուր խմում՞

### For each continent print the statistics for wine consumption

### Ամեն continent-ի համար տպեք wine_servings-ի ստատիստիկան (mean, min, max, std, quartiles)

### Print the mean alcohol consumption per continent for every column

### Ամեն սյան համար տպեք միջին ալկոհոլի օգտագործման քանակը ամեն continent-ի համար

### Print the median alcohol consumption per continent for every column

### Ամեն սյան համար տպեք մեդիան ալկոհոլի օգտագործման քանակը ամեն continent-ի համար

### Print the mean, min and max values for spirt consumption. 

### Տպեք spirt-ի օգտագործման mean, min ու max-ը։